<div id="tabAbout" class="mytab">
  <div class="profile">
    <%= image_tag "no_image.jpg" %>
    <p>I'm a Japanese student.I study and study everyday.</p>
  </div>
  <div class="text">
    <p>Hello World!!</p>
  </div>
</div>