<div id="tabAbout" class="mytab show">
  <div class="profile">
    <br>
    <%= image_tag "no_image.jpg" %>
    <p>現在地方の大学二年生です。独学で様々なプログラミング言語を学び始めました。
      少しでも学んだことを使ってみたいので何かしらに使おうとしています。
      unityのさわりを少しやったら普通に面白かったのでunityを触ってみようかなと思ってます。</p>
  </div>
  <div class="text">
    <br>
    <p>Hello World!!</p><p>まだ全体的に準備中です。</p>
  </div>
</div>