<div id="tabAbout" class="mytab show">
  <div class="profile">
    <%= image_tag "no_image.jpg" %>
    <p>現在地方の大学二年生です。独学で様々なプログラミング言語を学び始めました。
      自分に付加価値をつけるため時間があるときに取り組んでいます。最近は少しunityを触ろうとしています。</p>
  </div>
  <div class="text">
    <p>Hello World!!</p>
  </div>
</div>