// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//////////////////////////////  index  ///////////////////////////////////
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #282828 !important;
}

 .containers {
   .title{
     font-size: 60px;
     font-weight: bold;
     color: white;
     text-align: center;
     position: absolute;
     height: 70px; //aタグを覆わない様に!!!!
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       z-index: 1;
     margin: 0 auto;
   }
 }

 .containers img {
   width: 100%;
   background-size: cover;
   height: 500px;
 }

 .contents {
   margin: 0 0px;
 }

 .choices {
   margin-top: -2px;
   background-color: rgba(0,0,0,0.9);
   height: 70px;
   text-align: right;
 }
 .btn-wrapper{
   display: inline-block;
   margin-right: 20px;
   .mybtn{
      width: 120px;
      display: inline-block;
      line-height: 70px;
      text-align: center;
      color: white;
      text-decoration: none;
      border-right: 1px solid white;
      border-left: 1px solid white;
      margin-left: -5px;
      &:hover{
        background-color: rgba(255, 255, 255, 0.6) !important;
        transition: 0.5s !important;
      }
    }
 }
  .mytab {
    width: 100%;
  }

 .show{
   display: inline-block !important;
 }
 
 #tabProductions,#tabHobby,#tabContact,#tabAbout, #tabBlog{
   display: none;
   text-align: center;
 }

 .chosen-btn{
   background-color: rgba(255,255,255,0.6);
 }

 footer {
   border-top: 1px solid lightgray;
   text-align: center;
   margin-top: 10px;
   li{
     list-style: none;
     margin: 0 5px;
   }
   a {
     color: white;
   }
   .fa:hover{
    text-decoration: none;
   }
 }

/////////////////////////////////////// about //////////////////////////////////
 .profile{
   display: inline-block;
   width: 35%;
   margin: 0;
   padding-bottom: 100px;
   border-right: 2px solid white; 
    img {
      margin: 0 auto;
      width: 150px;
      height: 150px;
      border-radius: 20px;
    }
 }


 .text{
   display: inline-block;
   width: 60%;
   vertical-align: top;
   margin: 0;
   padding-bottom: 100px;
   h1 {
     font-weight: bold;
   }
   .skill {
     display: inline-block;
     width: 100px;
     height: 50px;
     background: white;
     border-radius: 10px; 
     margin-top: 5px;
     line-height: 50px;
     position: relative;
     div{
       width: 100px;
       height: 50px;
       border-radius: 5px;
       position: absolute;
       background-color: gray;
       top: 25px;
       left: 50px;
       z-index: 1;
     }
   }
 }
 @media(min-width: 741px){
   .fa-list, .toggle-lists{
     display: none !important;
   }
  }

 @media(max-width: 740px){
   .profile, .text{
     width: 100%;
   }
   .profile{
     border: none;
     border-bottom: 2px solid white;  
   }
   .mybtn{
    display: none !important;
    }
    .fa-list{
      display: inline-block !important;
      margin-top: 12px;
      width: 70px;
      height: 57px;
    }
    .toggle-lists{
      display: none;
      font-size: 20px;
      width: 200px;
      background-color: black;
      position: relative;
      z-index: 999;
      p{
        display: block;
      }
      .btn{
        border-radius: 0px !important;
      }
    }
 }

 ////////////////////////// productions //////////////////////////
 //#tabProductions {
  ul{
    padding: 0;
 }

 .my_production {
   display: inline-block;
   margin: 10px 0;
   width: 400px;
   height: 475px;
   border-radius: 8px;
   color: black;
   background-color: white;
   vertical-align: top;
   }

   .title-name{
     font-size: 40px;
     padding: 5px 0 !important;
   }

   .my-content {
     width: 100%;
     height: 300px;
     overflow: scroll;
     border: 2px solid gray;
     text-align: left;
   }
 //}

  .blog{
    height: 100px;
    width: 90%;
    margin: 5px auto;
    background-color: white;
    border-radius: 3px;
    color: blue;
    text-align: left;
    position: relative;
    .blog-contents{
      margin-left: 10px; 
    }
  }
 .productions{
   width: 95%;
   margin: 0 auto;
   text-align: center;
   a:hover{
     text-decoration: none;
   }
 }
 .blog-created{
  font-size: 15px;
  color: lightgray;
  position: absolute;
  bottom: 0px;
  right: 10px;
 }
 @media(max-width: 740px){
  .my_production{
    width: 98%;
    margin: 2px auto;
  }
  .blog-contents{
    position: relative;
    .title-name{
      font-size: 15px;
    }
  }
  .blog-created{
    font-size: 10px;
  }
 }

 /*********************** blogshow  **********************/
 .blog-container{
   width: 95%;
   margin: 0 auto;
   background-color: white;
   border-radius: 7px;
   color: black;
   position: relative;
   .blog-contents{
     width: 95%;
     margin: 0 auto;
   }
   h2{
     text-align: center;
   }
 }
 
