<footer>
  <ul>
		<%= link_to "#" do %>
			<li class="fa fa-github-square fa-3x"></li>
		<% end %>
		<%= link_to "http://twitter.com/mij9992587" do %>
	  	<li class="fa fa-twitter-square fa-3x"></li>
		<% end %>
		<%= link_to "#" do %>
	  	<li class="fa fa-facebook-square fa-3x"></li>
		<% end %>
		<%= link_to "https://www.instagram.com/yuyusayuyu" do %>
	  	<li class="fa fa-instagram fa-3x"></li>
		<% end %>
	</ul>
</footer>