<footer>
  <ul>
		<li class="fa fa-github-square fa-3x"></li>
  	<li class="fa fa-twitter-square fa-3x"></li>
		<li class="fa fa-facebook-square fa-3x"></li>
  	<li class="fa fa-instagram fa-3x"></li>
	</ul>
</footer>
<script>
$(function(){
	$('.fa-github-square').click(function(){
		location.href="https://github.com/Yuki-Sato-I";
	});
	$('.fa-twitter-square').click(function(){
		location.href="/";
	});
	$('.fa-facebook-square').click(function(){
		location.href="https://www.facebook.com/profile.php?id=100008097306849";
	});
	$('.fa-instagram').click(function(){
		location.href="https://www.instagram.com/yuyusayuyu";
	});

});
</script>