<!DOCTYPE html>
<html>
  <head>
    <title>RailsMyPortfolio</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %> <!-- IE ver.9未満のため -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
